.About {
  @include flex-center;
  margin: 10vh 0;
  & > * {
    margin: 10vh 3vw;
  }
  img {
    width: 40vw;
  }
  .text {
    width: 30vw;
    * {
      margin: 4vh 0;
    }
    h3 {
      font-size: 2rem;
    }
    .line {
      width: 100px;
      height: 2px;
      background-color: black;
    }
    p {
      color: $sub-text;
    }
  }
}
