.testimonials {
  @include flex-center;
  flex-direction: column;
  height: 90vh;
  .testi-box {
    @include flex-center;
    flex-direction: column;
    width: 70vw;
    background: rgb(103, 195, 243);
    background: linear-gradient(
      222deg,
      rgba(103, 195, 243, 1) 0%,
      rgba(90, 152, 242, 1) 100%
    );
    border-radius: 30px;
    padding: 5vh;

    & > * {
      margin: 2vh 0;
    }
    h2 {
      font-size: 1.8rem;
      letter-spacing: 1px;
      color: white;
    }

    .line {
      width: 100px;
      height: 2px;
      background-color: white;
    }

    .testi {
      @include flex-center;
      .profile {
        @include flex-center;
        width: 30vw;
        img {
          width: 10vw;
        }
        .person {
          margin: 0 20px;
          h5 {
            color: white;
            font-size: 1.2rem;
          }
          p {
            color: white;
          }
        }
      }
      & > p {
        width: 30vw;
        color: white;
        line-height: 30px;
      }
    }
  }

  .arrow {
    @include flex-center;
    justify-content: space-between;
    width: 30vw;
    margin: 3vh 0;
    & > img {
      opacity: 0.6;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }

    .active {
      opacity: 1 !important;
    }

    .eclipse {
      * {
        margin: 0 5px;
        opacity: 0.6;
      }
    }
  }
}
